<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oops</title>
    <style>
    *{
        background-color:mistyrose;
        text-align: center;
        margin-top: 40px;
    }
    img{
        max-width: 60px;
        border-radius: 10px;
    }
    button{
        background-color: teal;
        width:60px;
    }
    input{
        background-color: lightsteelblue;
        height:20px;
        width:200px;
    }
    h2{
        text-align:center;
        color:crimson;


    }
    </style>
</head>
<body>
    <h2>PRODUCT DETAILS</h2>
    <form method="post">
        <input type="text" name="name" placeholder="Enter the Name"><br>
        <input type="number" name="age" placeholder="Enter the Age"><br>
        <input type="text" name="purchased" placeholder="Enter Purchased_Item"><br>
        <input type="number" name="amount" placeholder="Enter the Amount"><br>
        <input type="text" name="url" placeholder="Enter the Url"><br>
        <button type="submit">ok</button>
    </form>
</body>
</html>